SECRET_KEY=your-secret-key
GEMINI_API_KEY=your-gemini-api-key
POSTGRES_USER=your_username
POSTGRES_DB=your_database_name
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432
PORT=8000
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
USE_X_FORWARDED_HOST=False
SECURE_SSL_REDIRECT=True